.sidebar {
    width: 25%;
    float: left;
    background-color: #000000;
    color: white;
    margin-top: 25px;
    border-radius: 15px;
    height: auto;
}

.sidebar h2 {
    padding: 0px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
    border-bottom: 2px solid yellowgreen;
    width: 92%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    font-size: 20px;


}

.sidebar ul li {
    padding: 20px;
    text-align: left;
    white-space: nowrap;
    margin: 0;
}

.sidebar ul li:hover {
    background-color: #575757;
}